<a href="https://colab.research.google.com/github/nalvarez1114/Aureon_PBSC/blob/main/COP1000_Module3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Practice Exercise 2**



Integers (whole numbers such as 42 and 100000000)

Floats (numbers with decimal points such as 3.14159, or sometimes exponents like 1.0e8, which means one times ten to the eighth power, or 100000000.0)

# **Literals**

**Literal Integers**
* Any sequence of digits in Python represents a literal integer
* But you can’t have an initial 0 followed by a digit between 1 and 9
* If you try to assign a value of 09 for example it will throw an exception.
* You can’t have any commas in the integer example: 1,000,000. That would create a tuple instead of a number and we will deal with tuples later in the course.
* if you put underscores after the first number in any location they are ignored by the system.

**Numeric Data Types**
 * **Integer**
   * *numpy*
    * int
    * uintc
   * *py*
    * int
 * **Floating Point**
   * *numpy*
    * float16 (half precision point)
    * single
   * *py*
    * float    
 * **Short**
   * *numpy*
    * short
     * ushort
 * **Long**
   * *numpy*
    * int_
    * uint
    * longlong
    * ulonglong      
 * **Double**
   * *numpy* 
    * double
    * longdouble
 * **Decimal**

# **Integer Operations**

**Assignment operators**


Assignment operators are used in Python to assign values to variables.

a = 5 is a simple assignment operator that assigns the value 5 on the right to the variable a on the left.

There are various compound operators in Python like a += 5 that adds to the variable and later assigns the same. It is equivalent to a = a + 5.

**Operator** $\>$ $\>$ 	**Example**	$\>$ $\>$ **Equivalent to**

=	$\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ x = 5	$\>$ $\>$ $\>$ $\>$ $\>$ $\>$ x = 5

+=$\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$	x += 5$\>$ $\>$ $\>$ $\>$ $\>$ $\>$	x = x + 5

-=$\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$	x -= 5$\>$ $\>$ $\>$ $\>$ $\>$ $\>$	x = x - 5

*=$\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$	x *= 5$\>$ $\>$ $\>$ $\>$ $\>$ $\>$	x = x * 5

/=$\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$	x /= 5$\>$ $\>$ $\>$ $\>$ $\>$ $\>$	x = x / 5

%=$\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$	x %= 5$\>$ $\>$ $\>$ $\>$ $\>$ $\>$	x = x % 5

//=$\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$	x //= 5$\>$ $\>$ $\>$ $\>$ $\>$ $\>$	x = x // 5

**=$\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$	x **= 5$\>$ $\>$ $\>$ $\>$ $\>$ $\>$	x = x ** 5

&=$\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$	x &= 5$\>$ $\>$ $\>$ $\>$ $\>$ $\>$	x = x & 5

|=$\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$	x |= 5$\>$ $\>$ $\>$ $\>$ $\>$ $\>$	x = x | 5

^=$\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$	x ^= 5$\>$ $\>$ $\>$ $\>$ $\>$ $\>$	x = x ^ 5

$>>=$  $\>$ $\>$ $\>$ $\>$ $\>$ $\>$	x >>= 5$\>$ $\>$ $\>$ $\>$ $\>$ $\>$	x = x >> 5

<<= $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$ $\>$	x <<= 5$\>$ $\>$ $\>$ $\>$ $\>$ $\>$	x = x << 5

**$+$   Addition**

      Example: 5 + 8

      Result: 13



**$ - $ Subtraction**

      Example: 90 - 10

      Result: 80



**$ \ast    $   Multiplication**

      Example: 4 * 7

      Result:28


**/   Floating-point division**

      Example: 7 / 2

      Result: 3.5


**//   Integer (truncating) division**

      Example: 7 // 2

      Result: 3


**%   Modulus (remainder)**

      Example: 7 % 3

      Result: 1


****    Exponentiation**

      Example: 3 ** 4

      Result: 81

# **Integers and Variables**

All of the preceding examples used literal integers. You can mix literal integers and variables that have been assigned integer values

# Precedence

**Operator	Description and examples** *sorted by order of precedence*

 
   
**Operator**      [v, …], {v1, …}, {k1:v1, …}, (…)

      
      **example**  List/set/dict/generator creation or comprehension, parenthesized expression

**Operator**   seq[n], seq[n:m], func(args…), obj.attr

      
      **example** Index, slice, function call, attribute reference

**Operator** **

      
      **example** Exponentiation

**Operator** +n, –n, ~n

      
      **example** Positive, negative, bitwise not

**Operator** $ *, /, //, $% 

      
      **example** Multiplication, float division, int division, remainder

**Operator** +, -

      
      **example** Addition, subtraction

**Operator** <<, >>

      
      **example** Bitwise left, right shifts

**Operator** &

      
      **example** Bitwise and

**Operator** |

      
      **example** Bitwise or

**Operator** in, not in, is, is not, <, <=, >, >=, !=, ==

      
      **example** Membership and equality tests

**Operator** not x

      
      **example** Boolean (logical) not

**Operator** and

      
      **example** Boolean and

**Operator** or

      
      **example** Boolean or

**Operator** if … else

      
      **example** Conditional expression

**Operator** lambda …

      
      **example** lambda expression

In [ ]:
# Practice here with math calculations and precedence.

In [5]:
age=input("enter your age (example 21):  ")
#halfAge = age / 2
halfAge = float(age) / 2
print("Half of your age is ", halfAge)

# uncomment the first comment above and run the cell, then comment it out and try the other commented statement.

enter your age (example 21):  21
Half of your age is  10.5

In [ ]:
#Practice here with Type casting

In [6]:
import math
print(math.trunc(254.9987))

print(math.sqrt(16))

254
4.0

In [ ]:
# practice here using the math.pi function